#login-card {
    background: linear-gradient(165.92deg, #3C3C3C 55.73%, #9A9797 121.24%);
    box-shadow: -3px 4px 11.5px 10px rgba(16, 16, 16, 0.3);
    border-radius: 24px;
}

#forgot-password {
    color: var(--primary-red);
}

#remember-me:checked {
    background-color: var(--action-blue);
    color: var(--primary-text);
}